name: Deploy Images to GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
      push-store-image:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: '.'
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@main

          - name: 'Login to GitHub Container Registry'
            uses: docker/login-action@v1
            with:
              registry: ghcr.io
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}

          # - name: 'Build Docker Image'
          #   run: |
          #     docker build . --platform linux/amd64,linux/arm64 --tag ghcr.io/prosellen/bmad-coder-docker:latest
          
          # - name: 'Push Docker Image to GHCR'
          #   run: |
          #     docker push ghcr.io/prosellen/bmad-coder-docker:latest

          # This allows you to build for ARM on an AMD64 runner
          - name: Set up QEMU
            uses: docker/setup-qemu-action@v3
            
          # This allows you to build for ARM on an AMD64 runner
          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3

          - name: Build and push
            uses: docker/build-push-action@v5
            with:
              context: .
              platforms: linux/amd64,linux/arm64
              push: true
              tags: ghcr.io/prosellen/bmad-coder-docker:latest        